body{
    color: rgb(185, 181, 181);
    background-color: rgba(252, 40, 3, 0.986);
    margin: 0px;
}
header {
    border-bottom: solid 2px blueviolet;
    padding: 20px;
    fort-size: 32px;
    color: blueviolet;
}
section {
    background-color: rgb(23, 23, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}   